
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş</title>

    <link rel="icon" href="~/Content/assets/images/required/ico/favicon.ico">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/assets/images/required/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/assets/images/required/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/assets/images/required/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/required/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/assets/images/required/ico/favicon.png">
    <!-- Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/required/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/required/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/required/icheck/all.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/fonts/metrize-icons/styles-metrize-icons.css" rel="stylesheet">
    <!-- Optional CSS Files -->
    <link type="text/css" href="~/Content/assets/css/optional/bootstrapValidator.min.css" rel="stylesheet" />
    <!-- add CSS files here -->
    <!-- More Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/styles-core.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/styles-core-responsive.css" rel="stylesheet" />
    <!-- Demo CSS Files -->
    <link type="text/css" href="~/Content/assets/css/demo-files/pages-signin-signup.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/assets/js/required/misc/ie10-viewport-bug-workaround.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div id="body-container">
            <div class="standalone-page">
                <div class="standalone-page-content" data-border-top="multi">
                    <div class="standalone-page-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="heading">
                                    <span aria-hidden="true" class="icon icon-key"></span>
                                    <span class="main-text">
                                        Giriş
                                    </span>
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <form role="form" class="login-form form-horizontal" method="post" action="/Uye/Giris">
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-3 control-label">Kullanıcı Adı</label>
                                        <div class="col-sm-9">
                                            <input autocomplete="off" class="form-control" id="inputUsername" placeholder="Kullanıcı Adı" type="text" name="username">
                                            <span class="help-block text-muted">Örnek: ornek60</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-sm-3 control-label">Şifre</label>
                                        <div class="col-sm-9">
                                            <input autocomplete="off" class="form-control" id="inputPassword" placeholder="Şifre" type="password" name="password">
                                            <span class="help-block text-muted">Örnek: 12345678</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="rememberMe"> Beni Hatırla
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success">Giriş</button>
                                            <a href="~/Content/pages-forgot-password.html" class="btn btn-link btn-sm pull-right">Şifremi Unuttum</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @{
                                            string message = ViewBag.Message;
                                            if (message != null)
                                            {
                                                if (message == "Başarılı")
                                                {
                                                    <h3 class="text-success">@message</h3>
                                                }
                                                else
                                                {
                                                    <h3 class="text-danger">@message</h3>
                                                }
                                            }
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="change-section">
                                    <h3 class="heading">Kayıtlı Olmadın Mı?</h3>
                                    <a href="/Uye/Kayit" class="btn btn-default btn-block">Yeni Kayıt Oluştur</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Required JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery.easing.1.3-min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/retina.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/icheck.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/circloid-functions.js"></script>
    <!-- Optional JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/optional/bootstrapValidator.min.js"></script>
    <!-- add optional JS plugin files here -->
    <!-- REQUIRED: User Editable JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>
    <!-- add additional User Editable files here -->
    <!-- Demo JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/demo-files/pages-signin-1.js"></script>
</body>
</html>
