
@{
    ViewBag.Title = "CookieAta";
}

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Cookie Atama Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Home/Index"><span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form action="/Home/CookieAta" method="post" role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cookie adı:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cookie adı giriniz" name="cookieName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Cookie Değeri:</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cookie değeri giriniz" name="cookieValue">
                        </div>
                        <div class="form-group">
                            <br />
                            <button type="submit" class="btn btn-primary">Ata</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>