
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Fav and touch icons -->
    <link rel="icon" href="~/Content/assets/images/required/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/assets/images/required/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/assets/images/required/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/assets/images/required/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/required/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/assets/images/required/ico/favicon.png">

    <title>@ViewBag.Title</title>

    <!-- Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/required/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/required/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/required/icheck/all.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/fonts/metrize-icons/styles-metrize-icons.css" rel="stylesheet">
    <!-- Optional CSS Files -->
    <link type="text/css" href="~/Content/assets/css/optional/jqvmap/jqvmap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/jqvmap/circloid-jqvmap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/circloid-fullcalendar.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link type="text/css" href="~/Content/assets/css/optional/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- add CSS files here -->
    <!-- More Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/styles-core.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/styles-core-responsive.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/assets/js/required/misc/ie10-viewport-bug-workaround.js"></script>

    @RenderSection("head", false)
</head>
<body>
    <!-- START Header Container -->
    <div id="header-container">
        <div class="header-bar navbar navbar-inverse" role="navigation">
            <!-- NOTE TO READER: Accepts the following class(es) "navbar-fixed-top" class -->
            <div class="container">
                <div class="navbar-header">
                    <!-- START logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img class="default-logo" src="~/Content/assets/images/required/logo-default.png" width="156" height="44" alt="Logo" />
                            <img class="small-logo" src="~/Content/assets/images/required/logo-small.png" width="48" height="44" alt="Logo" />
                        </a>
                    </div>
                    <!-- END logo -->
                    <!-- START Mobile Menu Toggle -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- END Mobile Menu Toggle -->
                    
                    <!-- START Header Info Container -->
                    <div class="header-info">
                        <!-- START Header User Profile -->
                        <div class="header-profile">
                            <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
                            <ul class="header-profile-menu">
                                <li>
                                    <a href="#" class="top">
                                        <span class="header-profile-menu-icon">
                                            <img class="list-thumbnail" src="http://placehold.it/39x39" width="39" height="39" alt="39x39" />
                                        </span>
                                        <span class="main-menu-text">
                                            Ken Adams
                                            <i class="icon icon-arrow-down-bold-round icon-size-small"></i>
                                        </span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="pages-profile.html">
                                                <span aria-hidden="true" class="icon icon-user"></span>
                                                <span class="main-text">Profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-mailbox-inbox.html">
                                                <span aria-hidden="true" class="icon icon-mail"></span>
                                                <span class="main-text">
                                                    <span class="badge pull-right">42</span>
                                                    Mailbox
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-calendar.html">
                                                <span aria-hidden="true" class="icon icon-star "></span>
                                                <span class="main-text">
                                                    Calendar
                                                    <span class="badge pull-right">9</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-signin-1.html">
                                                <span aria-hidden="true" class="icon icon-arrow-curve-right"></span>
                                                <span class="main-text">Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- END Header User Profile -->
                        <!-- START Header Notification Alert -->
                        
                        <!-- END Header Notification Alert -->
                    </div>
                    <!-- END Header Info Container -->
                </div>
            </div>
        </div>
    </div>
    <!-- END Header Container -->
    <div id="body-container">
        <div id="right-column">
            <div class="mainnav-horizontal-outer">
                <div id="mainnav-horizontal-inner" class="fixed">
                    <!-- NOTE TO READER: Accepts the following class(es) "menu-text-only", "fixed" class -->
                    <div id="mainnav-horizontal">
                        <ul class="mainnav-horizontal">
                            <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
                            <li class="menu-item-top">
                                <a href="/Home/Index" class="top">
                                    <span class="main-menu-text">Anasayfa</span>
                                </a>
                            </li>
                            <li class="menu-item-top selected">
                                <a href="#" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-layers icon-size-medium"></span>
                                    </span>
                                    <span class="badge pull-right">6</span>
                                    <span class="main-menu-text">Layouts</span>
                                </a>
                                <ul>
                                    <li><a href="menu-left-header-fixed.html">Left Menu (Fixed Header)</a></li>
                                    <li><a href="menu-left-icon-only.html">Left Menu (Icon Only)</a></li>
                                    <li><a href="menu-left-fixed.html">Left Menu (Fixed)</a></li>
                                    <li><a href="menu-left-boxed.html">Boxed Layout</a></li>
                                    <li><a href="menu-horizontal-normal.html">Horizontal Menu (Normal)</a></li>
                                    <li><a href="menu-horizontal-text-only.html">Horizontal Menu (Text Only)</a></li>
                                    <li><a href="menu-horizontal-fixed.html">Horizontal Menu (Fixed + Header)</a></li>
                                    <li><a href="menu-horizontal-boxed.html">Boxed Layout (Horizontal Menu)</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-top">
                                <a href="#" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-star icon-size-medium"></span>
                                    </span>
                                    <span class="main-menu-text">UI Kits</span>
                                </a>
                                <ul>
                                    <li><a href="ui-blocks.html">Blocks</a></li>
                                    <li><a href="ui-panels-wells.html">Panels &amp; Wells</a></li>
                                    <li><a href="ui-buttons.html">Buttons</a></li>
                                    <li><a href="ui-widgets.html">Widgets</a></li>
                                    <li><a href="ui-charts.html">Charts</a></li>
                                    <li><a href="ui-icons.html">Icons</a></li>
                                    <li><a href="ui-typography.html">Typography</a></li>
                                    <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                    <li><a href="ui-tooltips-popover.html">Tooltips &amp; Popover</a></li>
                                    <li><a href="ui-modal.html">Modal</a></li>
                                    <li><a href="ui-bootstrap-others.html">Other Bootstrap Elements</a></li>
                                    <li><a href="ui-notification-toastr.html">Notifications (Toastr)</a></li>
                                    <li><a href="ui-grid-layout.html">Grid Layout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-top">
                                <a href="#" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-documents icon-size-medium"></span>
                                    </span>
                                    <span class="badge pull-right hidden-collapsed highlight-color-green">7</span>
                                    <span class="main-menu-text">Pages</span>
                                </a>
                                <ul>
                                    <li><a href="pages-blank.html">Blank Page</a></li>
                                    <li><a href="pages-basic-text.html">Basic Text Page</a></li>
                                    <li><a href="pages-search-results.html">Search Results</a></li>
                                    <li><a href="pages-mailbox-inbox.html">Mailbox - Inbox</a></li>
                                    <li><a href="pages-profile.html">Profile - Customer</a></li>
                                    <li><a href="pages-profile-admin.html">Profile - Admin</a></li>
                                    <li><a href="pages-signup.html">Sign Up</a></li>
                                    <li><a href="pages-signin-1.html">Sign In - Type 1</a></li>
                                    <li>
                                        <a href="pages-signin-2.html">
                                            <span class="badge pull-right">Fancy Effects</span>
                                            Sign In - Type 2
                                        </a>
                                    </li>
                                    <li><a href="pages-forgot-password.html">Forgot Password</a></li>
                                    <li><a href="pages-404.html">404 Page</a></li>
                                    <li><a href="pages-500.html">500 Page</a></li>
                                    <li><a href="pages-invoice.html">Invoice</a></li>
                                    <li><a href="pages-changelog-faqs.html">Changelog/FAQs</a></li>
                                    <li><a href="pages-calendar.html">Calendar</a></li>
                                    <li><a href="pages-task-list.html">Task List</a></li>
                                    <li><a href="pages-timeline.html">Timeline</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-top">
                                <a href="#" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-settings icon-size-medium"></span>
                                    </span>
                                    <span class="main-menu-text">Forms</span>
                                </a>
                                <ul>
                                    <li><a href="form-elements.html">Form Elements</a></li>
                                    <li>
                                        <a href="form-extras.html">
                                            <span class="badge pull-right">Goodies</span>
                                            Form Extras
                                        </a>
                                    </li>
                                    <li><a href="form-validation.html">Form Validation</a></li>
                                    <li><a href="form-wizard.html">Form Wizard</a></li>
                                    <li><a href="form-file-upload.html">Form Upload</a></li>
                                    <li><a href="form-image-cropping.html">Image Cropping</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-top">
                                <a href="#" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-grids icon-size-medium"></span>
                                    </span>
                                    <span class="main-menu-text">Tables</span>
                                </a>
                                <ul>
                                    <li><a href="tables-basic.html">Basic Tables</a></li>
                                    <li><a href="tables-responsive.html">Responsive Tables</a></li>
                                    <li><a href="tables-datatables.html">Data Tables</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-top">
                                <a href="#" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-block-menu icon-size-medium"></span>
                                    </span>
                                    <span class="main-menu-text">Menu Levels</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">Menu Level 1.1</a>
                                        <ul>
                                            <li>
                                                <a href="#">Menu Level 2.1</a>
                                                <ul>
                                                    <li>
                                                        <a href="#">Menu Level 3.1</a>
                                                        <ul>
                                                            <li>
                                                                <a href="#">Menu Level 4.1</a>
                                                                <ul>
                                                                    <li><a href="#">Menu Level 5.1</a></li>
                                                                    <li><a href="#">Menu Level 5.2</a></li>
                                                                    <li><a href="#">Menu Level 5.3</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="#">Menu Level 4.2</a></li>
                                                            <li><a href="#">Menu Level 4.3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Menu Level 3.2</a></li>
                                                    <li><a href="#">Menu Level 3.3</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Menu Level 2.2</a></li>
                                            <li><a href="#">Menu Level 2.3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Menu Level 1.2</a></li>
                                    <li><a href="#">Menu Level 1.3</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-top">
                                <a href="#" class="top">
                                    <span class="main-menu-icon">
                                        <span aria-hidden="true" class="icon icon-map icon-size-medium"></span>
                                    </span>
                                    <span class="main-menu-text">Maps</span>
                                </a>
                                <ul>
                                    <li><a href="maps-google.html">Google Maps</a></li>
                                    <li><a href="maps-vector.html">Vector Maps</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <!-- START Footer Container -->
    <div id="footer-container">
        <div class="footer-content">
            &copy; <a href="#?ref=Base5Builder">Circloid</a> was made with <span style="color:#FF0000;">&#10084;</span> and supported by - <a href="http://base5builder.com/" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Base<span style="color:#ffa733;font-weight:bold">5</span>Builder</a>
        </div>
    </div>
    <!-- END Footer Container -->
    <!-- Required JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery.easing.1.3-min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/retina.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/icheck.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/circloid-functions.js"></script>
    <!-- Optional JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/optional/circloid-functions-optional.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/jqvmap/jquery.vmap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/jqvmap/maps/jquery.vmap.world.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/jqvmap/data/jquery.vmap.sampledata.js"></script> <!-- JQVMap Sample Data -->
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.JUMlib.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.tooltip.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.stack.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/misc/moment.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/bootstrap-datetimepicker.min.js"></script>
    <!-- add optional JS plugin files here -->
    <!-- REQUIRED: User Editable JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>
    <!-- add additional User Editable files here -->
    <!-- Demo JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/demo-files/index.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
