@using E_Ticaret.Models;
@model Product

@{
    ViewBag.Title = "Admin - Ürün Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var date = string.Format("{0:d-MMMM-yyyy - HH:mm}", DateTime.Now);
}

@section head
{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/bootstrap-datetimepicker/css/datetimepicker.css" />
}

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" class="form-horizontal tasi-form" action="/Admin/AddProduct" method="post">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Ürün Adı</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="" name="Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Alış Fiyatı</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="" name="PurchasePrice" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Satış Fiyatı</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="" name="SalePrice" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tanımı</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="" name="Description" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Ürün Adı</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="" name="Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"> Component Datetimepicker</label>
                            <div class="col-md-4">
                                <div class="input-group date form_datetime-component">
                                    <input type="text" class="form-control date" readonly="" size="16" value="@date">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger date-set"><i class="icon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Default input Datetimepicker</label>
                            <div class="col-md-4">
                                <input size="16" type="text" value="2012-06-15 14:45" readonly="" class="form_datetime form-control">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-lg-2 control-label">Last Name</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="" id="l-name" class="form-control">
                                <p class="help-block">Aha you gave a wrong info</p>
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" placeholder="" id="email2" class="form-control">
                                <p class="help-block">Something went wrong</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-danger" type="submit">Ekle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

</section>

@section scripts
{
    <script>
        $("#nav-accordion > li#products > a").attr("class", "active");
        $("#nav-accordion > li#products > ul > li#addProduct").attr("class", "active");
    </script>
    <script src="~/Content/Admin/assets/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.tr.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Content/Admin/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(".form_datetime-component").datetimepicker({
            format: 'dd-mm-yyyy - HH:mm',
            autoclose: true,
            startDate: 'today',
            language: 'tr'
        });

        $(".date").on("changeDate", function (e) {
            console.log(e);
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
            console.log(e.date.toLocaleString("tr-TR", options));
        })
    </script>
}