@using MVC_Template.Models;
@model List<Product>

@if (Model != null)
{
    <a href="#" class="top">
        <span class="main-menu-text">
            <b>@Model.Count</b>
            <i class="icon icon-arrow-down-bold-round icon-size-small"></i>
        </span>
    </a>
    <ul>
        @foreach (Product product in Model)
        {
            <li>
                <a href="/Urun/Detay?productID=@product.ProductID">
                    <span class="main-text">@product.ProductName</span>
                </a>
            </li>
        }
    </ul>
}