@using MVC_Template.App_Classes;
@model List<SepetDetay>

@if (Model != null)
{
    <a href="#" class="top">
        <span class="main-menu-text">
            Sepetim(@Model.Select(m => m.Count).Sum())
            <i class="icon icon-arrow-down-bold-round icon-size-small"></i>
        </span>
    </a>
    <ul>
        @foreach (SepetDetay cartDetail in Model)
        {
            <li>
                <a href="/Urun/Detay?productID=@cartDetail.Product.ProductID">
                    <span class="main-text">@cartDetail.Product.ProductName (@cartDetail.Count)</span>
                </a>
            </li>
        }
            <li>
                <a href="/Sepet/" class="btn btn-success">Sepete Git</a>
            </li>
    </ul>
}